@CHARSET "UTF-8";

body {
	font-family: "Times New Roman", Georgia, Times, serif;
	background-image: url(../images/backgroundMain.jpg);
	background-repeat: repeat-y;
	background-size: 100% auto;
	background-attachment: fixed;
}

#header {
	width: 80%;
	height: 170px;
	margin: auto;
	background-image: url(../images/header.png);
	background-color: #E1DCDC;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: 70% auto;
	border-radius: 20px;
}

#main {
	width: 80%;
	height: auto;
	min-height: 500px;
	margin: auto;
	margin-top: 10px;
	background-color: #E1DCDC;
	border-radius: 20px;
}

#login {
	width: 200px;
	height: auto;
	left: 10px;
	top: 10px;
	position: relative;
	background-color: white;
	border-radius: 20px;
}

#innerlogin {
	padding: 10px 10px 10px 10px;
}

.input {
	border-style: none;
	width: 100%;
	height: 30px;
	background: url(../images/input_button.gif) no-repeat;
	background-size: 180px auto;
	text-align: center;
}

.button {
	border-style: none;
	width: 100%;
	height: 30px;
	background: url(../images/button.jpg) no-repeat;
	background-size: 180px auto;
	text-align: center;
	cursor: pointer;
}

#register {
	text-decoration: none;
	font-size: 12px;
	text-align: center;
}

#menu {
	width: 200px;
	height: auto;
	left: 10px;
	top: 10px;
	position: relative;
	background-color: white;
	border-radius: 20px;
}

#menu ul {
	padding: 10px 10px 10px 10px;
	list-style-type: none;
	width: auto;
}

#menu li {
	background: url(../images/button.jpg) no-repeat;
	background-size: 180px auto;
	border-radius: 14px;
	margin-top: 4px;
}

#menu a {
	color: #302E2E;
	padding: 5px;
	padding-left: 30%;
	text-decoration: none;
	display: block;
}

#menu a:active {
	padding-left: 31%;;
}

#content {
	background-color: white;
	border-radius: 20px;
	width: 100%;
	min-height: 700px;
}

#left-content {
	float: left;
}

#right-content {
	float: left;
	padding-top: 10px;
	padding-left: 20px;
	width: 75%;
	padding-bottom: 10px;
}

#enButton {
	background: url(../images/en-lang.gif) no-repeat;
	background-size: auto 21px;
	height: 21px;
	width: 30px;
	text-indent: -9000px;
	border-style: none;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 83%;
}

#ruButton {
	background: url(../images/ru-lang.gif) no-repeat;
	background-size: auto 21px;
	height: 21px;
	width: 30px;
	text-indent: -9000px;
	border-style: none;
	cursor: pointer;
	position: absolute;
	top: 20px;
	left: 86%;
}

#searchField {
	width: 220px;
	height: 22px;
	border-style: none;
	position: absolute;
	left: 72%;
	top: 140px;
	background: url(../images/search-field.gif) no-repeat;
	background-size: 220px 22px;
	text-indent: 20px;
}

#searchButton {
	height: 18px;
	width: 30px;
	background: url(../images/search-button.gif) no-repeat;
	background-size: auto 18px;
	border-style: none;
	position: absolute;
	left: 86%;
	top: 142px;
}

#productInf {
	width: 97%;
	height: auto;
	padding-left: 10px;
	padding-top: 10px;
	border-bottom: 1px solid black;
}

#productNameDescription {
	padding-top: 15px;
	width: 70%;
	float: left;
}

#priceBuy {
	width: 9%;
	float: left;
	padding-left: 5px;
}

#productImage {
	padding-top: 15px;
	width: 20%;
	height: auto;
	float: left;
	padding-bottom: 10px;
}

#productName {
	width: auto;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 18px;
}

#productsShortDescription {
	width: auto;
	padding-left: 5px;
	padding-top: 5px;
	font-size: 14px;
}

#productPrice {
	text-align: center;
	font-size: 12px;
	padding-top: 50%;
	margin-bottom: 10px;
}

.buyButton {
	border-style: none;
	width: 90%;
	height: 30px;
	background: url(../images/buybutton.png) no-repeat;
	background-size: 100% 100%;
	text-align: center;
	cursor: pointer;
}

.title {
	padding-top: 10px;
	font-size: 28px;
	text-align: center;
}

#error {
	width: 90%;
	height: 60px;
	padding-left: 40px;
	padding-top: 40px;
}

#errorImage {
	width: 10%;
	height: 100%;
	background: url(../images/error.png) no-repeat;
	background-size: auto 100%;
	float: left;
}

#errorMessage {
	width: 70%;
	padding-left: 30px;
	font-size: 18px;
	float: left;
}

#success {
	width: 90%;
	height: 60px;
	padding-left: 40px;
	padding-top: 40px;
}

#successImage {
	width: 10%;
	height: 100%;
	background: url(../images/success.png) no-repeat;
	background-size: auto 100%;
	float: left;
}

#successMessage {
	width: 70%;
	padding-left: 30px;
	font-size: 18px;
	float: left;
}