@CHARSET "UTF-8";

body {
	font-family: "Times New Roman", Georgia, Times, serif;
}
.header {
	height: 150px;
	width: 100%;
	background: url(../images/logo.jpg);
	background-repeat: no-repeat;
	background-size: auto 150px;
	background-position: 20%;
}
#navbar ul {
	margin: 0;
	padding-left: 230px;
	list-style-type: none;
	width: 200px;
}
#navbar li {
	background: url(../images/button.png) no-repeat;
	background-size: 180px auto;
}
#navbar a {
	color: #302E2E;
	padding: 5px;
	padding-left: 30%;
	text-decoration: none;
	font-weight: bold;
	display: block;
}
#navbar a:active {
	padding-left: 32%;
}
