@CHARSET "UTF-8";

body {
	font-family: "Times New Roman", Georgia, Times, serif;
}
.header {
	height: 150px;
	width: 100%;
	background: url(../images/logo.jpg);
	background-repeat: no-repeat;
	background-size: auto 150px;
	background-position: 5%;
	border-bottom: solid;
}
#navbar ul {
	margin: 40px 0px 0px 0px;
	padding-left: 5%;
	list-style-type: none;
	width: 180px;
}
#navbar li {
	background: url(../images/button.jpg) no-repeat;
	background-size: 180px auto;
}
#navbar a {
	color: #302E2E;
	padding: 5px;
	padding-left: 30%;
	text-decoration: none;
	display: block;
}
#navbar a:active {
	padding-left: 31%;;
}
#loginbar {
	margin: 30px 0px 0px 0px;
	width: 180px;
	padding-left: 5%;
}
.input {
	border-style: none;
	width: 100%;
	height: 30px;
	background: url(../images/input_button.gif) no-repeat;
	background-size: 180px auto;
	text-align: center;
}
.button {
	border-style: none;
	width: 100%;
	height: 30px;
	background: url(../images/button.jpg) no-repeat;
	background-size: 180px auto;
	text-align: center;
}
#register {
	text-decoration: none;
	font-size: 12px;
	text-align: center;
}
#searchField {
	width: 220px;
	height: 22px;
	border-style: none;
	position: absolute;
	left: 60%;
	top: 100px;
	background: url(../images/search-field.gif) no-repeat;
	background-size: 220px 22px;
	text-indent: 20px;
}
#searchButton {
	height: 18px;
	width: 30px;
	background: url(../images/search-button.gif) no-repeat;
	background-size: auto 18px;
	border-style: none;
	position: absolute;
	left: 75%;
	top: 102px;
}
#enButton {
	background: url(../images/en-lang.gif) no-repeat;
	background-size: auto 21px;
	height: 21px;
	width: 30px;
	border-style: none;
	position: absolute;
	left: 85%;
	top: 100px;
}
#ruButton {
	background: url(../images/ru-lang.gif) no-repeat;
	background-size: auto 21px;
	height: 21px;
	width: 30px;
	border-style: none;
	position: absolute;
	left: 88%;
	top: 100px;
}

