@CHARSET "UTF-8";

body {
	font-family: "Times New Roman", Georgia, Times, serif;
	background-image: url(../images/backgroundMain.jpg);
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-attachment: fixed;
}
#header {
	width: 80%;
	height: 170px;
	margin: auto;
	background-image: url(../images/header.png);
	background-color: #F6F6F6;
	background-position: 50% 0%;
	background-repeat: no-repeat;
	background-size: 70% auto;
	border-radius: 20px;
}
#main {
	width: 80%;
	height: auto;
	min-height: 500px;
	margin: auto;
	margin-top: 10px;
	background-color: #F6F6F6;
	border-radius: 20px;
}
#login {
	width: 200px;
	height: auto;
	left: 10px;
	top: 10px;
	position: relative;
	background-color: white;
	border-radius: 20px;
}
#innerlogin {
	padding: 10px 10px 10px 10px;
}
.input {
	border-style: none;
	width: 100%;
	height: 30px;
	background: url(../images/input_button.gif) no-repeat;
	background-size: 180px auto;
	text-align: center;
}
.button {
	border-style: none;
	width: 100%;
	height: 30px;
	background: url(../images/button.jpg) no-repeat;
	background-size: 180px auto;
	text-align: center;
}
#register {
	text-decoration: none;
	font-size: 12px;
	text-align: center;
}
#menu {
	width: 200px;
	height: auto;
	left: 10px;
	top: 10px;
	position: relative;
	background-color: white;
	border-radius: 20px;
}
#menu ul {
	padding: 10px 10px 10px 10px;
	list-style-type: none;
	width: auto;
}
#menu li {
	background: url(../images/button.jpg) no-repeat;
	background-size: 180px auto;
	border-radius: 14px;
	margin-top: 4px;
}
#menu a {
	color: #302E2E;
	padding: 5px;
	padding-left: 30%;
	text-decoration: none;
	display: block;
}
#menu a:active {
	padding-left: 31%;;
}
#content {
	background-color: white;
	height: auto;
	border-radius: 20px;
	position: relative;
	left: 220px;
	top: 10px;
}

